<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>summaryARTICLE</title>
</head>
<body>
    {% extends 'index.html' %}

    {% block textsum %}
    <br><div class="div2"> SUMMARY </div>
    <textarea rows="7" cols="65" style="font-size: 18px ;font-family:Times New Roman;white-space:pre-wrap">
    {{article_sum}}
    </textarea>
    {% endblock %}
</body>
</html>